h1 {
    color: aquamarine;
    text-align: center;

    border: 1px;
}
p{
    color: aquamarine;
    padding-left: 300px;
    padding-right: 200px;
    padding-top: 30px;
    font-size: x-large;
    text-align: center;
}

body{
    background-image: url(apo.jpg);
    
}