h1 {
    color: aquamarine;
    background-color: black;
    border: 1px;
}
p{
    color: aquamarine;
    background-color: black; 
    font-size: x-large;
    text-align: left;
}

body{
    background-color: black;
}